.bonus:after {
	padding: 1px 4px 1px 0;
	border-radius: 0 10px 10px 0;
	font-size: 10px;
	margin-right: 5px;
	position: relative;
	bottom: 4px;
}

.bonus:before {
	padding: 1px 0 1px 4px;
	border-radius: 10px 0 0 10px;
	font-size: 10px;
	margin-left: 5px;
	position: relative;
	bottom: 4px;
}

.bonus.drop:after, .bonus.drop:before {
	background: #7bc8a4;
	content: "2x drop";
}

.bonus.stamina:after, .bonus.stamina:before {
	background: skyblue;
	content: "0.5x stamina";
}

.bonus.beli:after, .bonus.beli:before {
	background: #ffc65d;
	content: "2x beli";
}

.bonus.exp:after, .bonus.exp:before {
	background: #f16745;
	content: "2x EXP";
}

.bonus.today:after, .bonus.today:before {
	background: orchid;
	content: "today";
}

.bonus.GL:before {
	content: "GL: ";
}

.bonus.JP:before {
	content: "JP: ";
}
